h1 {
    background: linear-gradient(to right, crimson,crimson, rgb(176, 10, 43), rgb(176, 10, 43), rgb(176, 10, 43));
    background-clip: text;
    color: transparent;
}
h2 {
    color: rgb(237, 15, 15);
}
h3 {
    color: red;
}
.minha-imagem {
    width: 100px;
    margin: 15px 0 0 10px;
}
p {
    color: crimson;
}